html, body {
	height: 100%;
}

/* variables */

body {
	--gap: 3px;
	--radius: 3px;
	--fgcolor: white;
	--bgcolor: black;
	--effectcolor: #0f0;
	--warningcolor: #f00;
}

/* basic colors */

body, textarea, input {
	background: var(--bgcolor);
	color: var(--fgcolor);
}

* {
	margin: 0;
	box-sizing: border-box;
}

/* reset stuff */

input:focus, textarea:focus {
	outline: none;
	border-color: var(--effectcolor);
}

input {
	border: 1px solid #777;
	border-radius: var(--radius);
}

body {
	padding: var(--gap);
}

body > .windows {
	display: flex;
	height: 100%;
}

.windows > *:not(:first-child) {
	margin-left: var(--gap);
}

.editor {
	flex: 1;
	display: flex;
	flex-direction: column;

	/* makes the element ignore its "intrinsic width",
	 * thus making editors equally wide */
	min-width: 0;

}

.editor {
	position: relative;
}

/* unsaved indicator */
.editor::after {
	position: absolute;
	right: 0;
	top: 1px;
	padding: 0 calc(2 * var(--gap));
	content: 'unsaved';
	color: var(--warningcolor);

	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	height: 19px;
	line-height: 19px;
	box-sizing: border-box;

	background: #ff000022;
	background: repeating-linear-gradient(
		-45deg,
		#ff000044 0px,
		#ff000044 2px,
		transparent 2px,
		transparent 4px
	);

	text-shadow:
		1px -1px 2px var(--bgcolor),
		1px 1px 2px var(--bgcolor),
		-1px -1px 2px var(--bgcolor),
		-1px 1px 2px var(--bgcolor);

	opacity: 0;
	transition: opacity 0.1s;
}

.editor.unsaved::after {
	position: absolute;

	opacity: 1;
	transition: opacity 0.25s;

}

.editor {
	font-family: 'Iosevka light extended', monospace;
	font-variant-ligatures: none;

	font-size: 13px;
}

.editor > *:not(:first-child) {
	margin-top: var(--gap);
}

.editor .content, .editor input {
	font-family: inherit;
	font-size: inherit;
	font-variant-ligatures: none;
}

.editor > .content {
	tab-size: 4;
	width: 100%;
	flex: 1;

	border: 1px solid;
	border-radius: var(--radius);
	border-color: var(--fgcolor);
}

/* Editor content focus styles */
.editor .content:not(:focus) {
	opacity: 0.80;
}

.editor .content:focus {
	border: 1px solid var(--effectcolor);
	outline: none;
}

/* New editor */
.editor.new .content, .editor.new input {
	border-style: dashed;
}

.editor.new .content {
	white-space: pre;
	overflow: scroll;
}
